
    body{
        margin: 0px;
        padding: 0px;
        box-sizing: 0px;

    }
    body::before{
        content:"XS";
        color: brown;
        left: 10px;
        position: fixed;
        font-size: 30px;
        font-weight: bold;
    }
    @media (min-width:576px) {
    body::before{
        content:"SM";}
    }
    @media (min-width:768px) {
        body::before{
            content:"MD";}
        }
        @media (min-width:992px) {
            body::before{
                content:"LG";}
            }
            @media (min-width:1200px) {
                body::before{
                    content:"XL";}
                }
                @media (min-width:1400px) {
                    body::before{
                        content:"XXL";}
                    }
                  